
html { height: 100%; font-family: Homebook;} 
body {background-color: #f5f5f5;padding: 0;margin: 0;height: 100%; font-family: Homebook;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

.clearfix {
	height:0;
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

@font-face {
    font-family: Homebook;
    src: url(../fonts/PFHandbookPro-Light.otf);
}

#site {
	background-color: #f5f5f5;
	width:100%;	
}

#page {
	width:75%;
	margin: 0 auto;
}

/* HEADER STYLE */
@media screen and (min-width: 768px) {	
	#mainheader {
		border-bottom: 1px solid #e1e1e1;
	}	
}
#logo {
	float: left; 
	width: 40%;
}
img {
	max-width: 100%;
	display:block;
}
#topmenu{
	width:60%;
	float:right;
}
#topmenu ul{float: right; 	padding: 0.8em 0.1em 0.1em;}
#topmenu ul li {
	display: inline;
	font-size: 1.6em;
	color: #a83624; 
	border: 0;
	margin: 0 5px;
}
#topmenu a {
	color: #a83624; 
	text-decoration: none;
	padding: 0.8em 0.1em 0.1em;
	position: relative;
	z-index: 1;
}	
#topmenu a.current {border-bottom: 3px solid #b25e51;}


@media screen and (max-width: 768px) {
	#mainheader {
		width: auto;		
	}		
	#logo {
		float: none;
		margin: 0 auto;
		position:relative;
		width:100%;
	}
	#topmenu ul {		
		padding: 1.2em 0 1em;
		margin-bottom: 20px;
		top: auto;
		text-align: center;
	}		
}

@media screen and (max-width: 520px) {	
	#page{
		width:90%;
	}	
	#topmenu ul {		
	/*	padding: 1.2em 0 1em;*/
		margin-bottom: 20px;
		top: auto;
		text-align: center;
		float: left;
		width: 100%;
	}		
	.nav-primary a {
		display: block;
		padding: 0.45em;
	}
}

@media screen and (max-width: 480px) {
	#topmenu {
		float:none;
		width:100%;
	}
	#logo {
		width: 90%;					
	}
}

/*
	Tinier
*/
@media screen and (max-width: 360px) {
	#mainheader{
		margin: 20px 10px;
	}
}


/* MAIN PART STYLE */
.oneblock {
	width:100%;	
}
.content {
	text-align:center;	
}
.content h2 {
	color: #a83624; font-size: 4.0em; 	
	/*font-family: Homebook;*/
}
.content h3 {color: #817f7f; font-size: 2.5em; 
	font-family: Homebook;font-weight: normal;
}

#mission td.text {background: url (../images/listb.png) no-repeat 0 10px; font-size: 20px; color: #929292;}
#mission td.bullet {vertical-align: top;width: 30px;}
/*
.button {
	border: 2px solid #c4c4c4; 
	border-radius: 5px; 
	font-size: 1.25em;
	height: 3em;
	cursor: pointer;z-index: 10;
	width:30%;
	margin: 0 auto;
}

.button a {color: black; text-decoration: none; text-align: center}
.button:hover {background-color: #b25e51;}
*/

#contacts {
	background: url(../images/map.png) no-repeat transparent top center;
}
.position {background: url(../images/redround.png) no-repeat transparent 575px 40px; width: 1000px; position: absolute; top: 0; height: 490px;}
.position img {position: relative; left: 710px;top: 180px;}
.divider1 {
	height: 88px;	
	z-index: 99;
	background: url(../images/divider1.png) no-repeat transparent top center;
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
}
.divider1 .divbut {
	width: 100%;
	margin: 0 auto;
	float: left;
}
.divider2 {
	z-index: 990;
	background: url(../images/divider2.png) no-repeat transparent top center;
}

.divider2 .divbutsmall {
	width: 75%; 
	cursor: pointer;
}

/* FOOTER STYLE */
footer {
	text-align: center; 
	width: 100%;
	margin: 0 auto;
}
#whiteshadow {
	/*position: absolute;top: 0;height: 100%;width: 100%;background-color: white;z-index: 1001;opacity: 0.5;display: none;
	*/
	}

/* FIX STYLE */

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.button{
	display: inline-block;
	padding: 0.7em 2em;
	font-size: 1.5em;
	text-decoration: none;
	border: 2px solid #c4c4c4; 
	border-radius: 5px; 
	-webkit-border-radius: 4px;
	line-height: 1;
}

.button:hover{
/*	background: #333;*/
background-color: #b25e51;
}
a{
	color: #a83624; 
}


.field_form .input{
	width:50%;
}

.field_form .textarea{
	width:100%;
}

/* FIX CB0004 */
p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

*/